<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.team29.speakingpartners">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".SpeakingPartnersApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Main.SpeakingPartner.LightBlueTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme"
            tools:targetApi="lollipop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SignUpActivity"
            android:theme="@style/AppTheme"
            tools:targetApi="lollipop" />
        <activity
            android:name=".activity.ProfileDetailActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Main.SpeakingPartner.BlueTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".activity.SettingsActivity"
            android:theme="@style/Main.SpeakingPartner.BlueTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Main.SpeakingPartner.BlueTheme" />
        <activity
            android:name=".activity.voicecall.FromCallingViewActivity"
            android:theme="@style/Main.SpeakingPartner.BlueTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".activity.EditProfileActivity"
            android:parentActivityName=".activity.ProfileDetailActivity"
            android:theme="@style/Main.SpeakingPartner.BlueTheme.NoActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".activity.voicecall.PreCallingDialogActivity"
            android:theme="@style/Main.SpeakingPartner.DialogTheme"
            tools:targetApi="lollipop" />
        <activity
            android:name=".activity.voicecall.RequestReviewActivity"
            android:theme="@style/Main.SpeakingPartner.DialogTheme"
            tools:targetApi="lollipop" />
        <activity
            android:name=".activity.voicecall.ToCallingViewActivity"
            android:theme="@style/Main.SpeakingPartner.BlueTheme.NoActionBar"
            tools:targetApi="jelly_bean" />

        <activity android:name=".activity.TopicGuideDetailActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Main.SpeakingPartner.LightBlueTheme"/>
    </application>

</manifest>